@use '../../styles/variables'

.main-body
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.main-title
  font-size: 68px
  font-weight: 900
  color: #000

.main-subtitle
  font-size: 32px
  font-weight: 400
  text-align: center

.main-text
  font-size: 68px
  font-weight: 900
  color: #000
  margin-bottom: 42px
  text-align: center