@use '../../styles/variables'

.main-footer
  height: 380px
  padding: 0 32px 32px
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  margin-top: 100px

.footer-content
  display: flex
  justify-content: space-between
  min-width: 1072px
  height: 345px
  padding: 60px 80px
  border-top: .5px solid rgba(0, 0, 0, .2)
  box-sizing: border-box

.footer-left
  width: 180px
  height: 100%

.footer-logo
  margin-bottom: 30px

.footer-copywrite
  width: auto
  display: flex
  flex-direction: column
  
.footer-copywrite-text
  margin-bottom: 24px
  color: #000

.footer-column-heading
  font-size: 16px
  font-weight: 700
  color: #000
  margin-bottom: 31px
  line-height: 1

.footer-column-link-container
  margin-bottom: 24px
  transition: .4s ease

  &:hover
    transform: scale3d(1.05,1.05,1.05)

.footer-column-link
  font-size: 16px
  color: #000
  text-decoration: none
  

.footer-social-links
  width: 144px
  display: flex
  justify-content: space-between
  align-items: flex-start
  box-sizing: border-box

.footer-social-icon
  width: 35px
  height: 35px
  cursor: pointer
  transition: .1s ease-in

  &:hover
    transform: scale3d(1.1,1.1,1.1)